body {
  background-color: black;
}
.parent-div {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.leftwing {
  top: 0px;
  left: 0px;
  width: 49%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
}
.name {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 500px;
  bottom: 0px;
  height: 96px;
  position: absolute;
  font-size: 72px;
  margin-top: auto;
  text-align: right;
  margin-left: auto;
  margin-right: 48px;
  margin-bottom: auto;
  font-family: "Arial", monospace;
}
.rightwing {
  top: 0px;
  right: 0px;
  width: 49%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
}
.rightwing-subcontainer {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.text1-container {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 70%;
  height: 30%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.text2-container {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 70%;
  bottom: 0px;
  height: 30%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.text3-container {
  flex: 0 0 auto;
  left: 0px;
  width: 70%;
  bottom: 0px;
  height: 30%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.text1,
.text2,
.text3 {
  top: 0px;
  left: 48px;
  color: white;
  bottom: 0px;
  height: 72px;
  width: 360px;
  margin: auto;
  position: absolute;
  font-size: 48px;
  padding-left: 20px;
  font-family: "Century Gothic", monospace;
}
.text1:hover {
  background-color: cyan;
  color: black;
}
.text2:hover {
  background-color: yellow;
  color: black;
}
.text3:hover {
  background-color: lime;
  color: black;
}
.vertical-line {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 2px;
  bottom: 0px;
  height: 80%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: white;
}
