body {
  background-color: #15002e;
}
.div-0 {
  font-family: "Source Code Pro", "Lucida Console", monospace;
  color: white;
  text-align: center;
}
.parent-1 {
  height: 30px;
  text-align: center;
  margin-top: 30px;
}
.parent-2 {
  height: 50px;
  text-align: center;
}
.div-1 {
  display: inline-block;
  height: 20px;
  width: 100px;
  margin-right: 5px;
  font-family: "Source Code Pro", "Lucida Console", monospace;
  text-align: right;
  color: white;
}
.div-2 {
  display: inline-block;
  height: 20px;
  width: 100px;
  margin-left: 5px;
  font-family: "Source Code Pro", "Lucida Console", monospace;
  text-align: left;
  color: white;
}
.div-3 {
  display: inline-block;
  height: 20px;
  width: 100px;
  margin-right: 5px;
  font-family: "Source Code Pro", "Lucida Console", monospace;
  text-align: right;
  color: white;
}
.div-4 {
  display: inline-block;
  height: 20px;
  width: 100px;
  margin-left: 5px;
  font-family: "Source Code Pro", "Lucida Console", monospace;
  text-align: left;
  color: white;
}
.linkedinLink:link,
.igLink:link,
.youtubeLink,
.githubLink {
  color: cyan;
}
.linkedinLink:visited,
.igLink:visited,
.youtubeLink:visited,
.githubLink:visited {
  color: cyan;
}
.linkedinLink:hover,
.igLink:hover,
.youtubeLink:hover,
.githubLink:hover {
  color: yellow;
}
.text-area-div {
  text-align: center;
}
.label-1 {
  margin-bottom: 10px;
  color: white;
  font-family: "Source Code Pro", "Lucida Console", monospace;
  display: inline-block;
}
textarea {
  font-family: "Source Code Pro", "Lucida Console Thin", monospace;
  color: lime;
  background-color: black;
  margin-bottom: 30px;
  border-radius: 10px;
  resize: none;
}
textarea:focus {
  outline: none;
}

#fname {
  background-color: #15002e;
  color: white;
  border: 1px solid white;
}

#fname:focus {
  outline: none !important;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.button1,
.button2 {
  display: inline-block;
  color: black;
  font-size: 16px;
  font-family: "Lucida Console", Courier, monospace;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 5px;
}

.button1 {
  background-color: cyan;
}
.button2 {
  background-color: lime;
}

.button-3,
.button-4 {
  appearance: none;
  border: none;
  border-radius: 10px;
  /* box-sizing: border-box; */
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 16px;
  margin: 2px;
  margin-top: 10px;
  min-width: 0;
  outline: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-3:disabled,
.button-4:disabled {
  pointer-events: none;
}

.button-3 {
  background-color: lime;
}
.button-4 {
  background-color: cyan;
}

.button-3:hover,
.button-4:hover {
  background-color: yellow;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-3:active,
.button-4:active {
  box-shadow: none;
  transform: translateY(0);
}
